<div class="row">

<h1>Experiencia laboral</h1>
<div class="col-lg-11">
    <ul>
<li>
<h1>Trabajo 1</h1> - <h3>(years)</h3>
</li>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ab illum eveniet fugiat? Repellat consectetur delectus natus, assumenda, sit nobis exercitationem animi vitae, aspernatur autem voluptatem a ut quae nam!</p>
</ul>
    <ul>
        <li>
        <h1>Trabajo 2</h1> - <h3>(years)</h3>
        </li>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ab illum eveniet fugiat? Repellat consectetur delectus natus, assumenda, sit nobis exercitationem animi vitae, aspernatur autem voluptatem a ut quae nam!</p>
            </ul>
            <ul>
                <li>
                <h1>Trabajo 3</h1> - <h3>(years)</h3>
                </li>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore ab illum eveniet fugiat? Repellat consectetur delectus natus, assumenda, sit nobis exercitationem animi vitae, aspernatur autem voluptatem a ut quae nam!</p>
                    </ul>
</div>

</div>
